/* Estilos personalizados */
.navbar-brand img {
    margin-right: 10px;
}

.employee-actions, .sales-actions, .workshop-actions { /* Se añadió .workshop-actions */
    padding: 20px;
    text-align: left;
}

.employee-table, .sales-table, .workshop-table { /* Se añadió .workshop-table */
    padding: 20px;
}

/* Nuevo estilo para que los botones de acción se ajusten al contenido del encabezado y estén centrados */
.sales-table th:last-child,
.sales-table td:last-child,
.workshop-table th:last-child, /* NUEVO: Para el encabezado de la columna de acción del taller */
.workshop-table td:last-child { /* NUEVO: Para las celdas de la columna de acción del taller */
    text-align: center; /* Centrar el contenido de la columna de acción */
}

/* Estilos para separar los botones de acciones de empleados */
.employee-actions .btn {
    margin-right: 10px; /* Ajusta este valor para controlar el espacio */
}

.employee-actions .btn:last-child {
    margin-right: 0; /* Elimina el margen del último botón */
}

/* Estilos para separar los botones de acciones de ventas y taller */
.sales-actions .btn,
.workshop-actions .btn { /* NUEVO: Para los botones de acción del taller */
    margin-right: 10px; /* Ajusta este valor para controlar el espacio */
}

.sales-actions .btn:last-child,
.workshop-actions .btn:last-child { /* NUEVO: Para el último botón de acción del taller */
    margin-right: 0; /* Elimina el margen del último botón */
}